/* Table of Contents
/* ------------------------------------------------------------

This is a development CSS file which will be built to a minified
production stylesheet in assets/build.css along with vendor scripts

1.  Global Styles
2.  Layout
3.  Special Templates
4.  Site Header
5.  Site Navigation
6.  Post Feed
7.  Single Post
  7.1. Subscribe Form
  7.2. Post Footer
     7.2.1 Single Author Byline
     7.2.2 Multiple Author Byline
  7.3. Comments
  7.4. Related Posts
  7.5. Floating Header
  7.6. Koenig Styles
8.  Author Template
9.  Error Template
10. Subscribe Overlay
11. Site Footer

*/

/* 1. Global - Set up the things
/* ---------------------------------------------------------- */
a:hover {
    text-decoration: none;
}

.text-white a {
    color:#FFFFFF;
}

/* 4. Site Header
/* ---------------------------------------------------------- */

.site-header {
    position: relative;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #fff;
    background: #090a0b no-repeat 50%;
    background-size: cover;
}

.site-header:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: block;
    background: rgba(0,0,0,0.18);
}

.site-header:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    z-index: 10;
    display: block;
    height: 80px;
    background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0));
}

.site-header.no-image:before,
.site-header.no-image:after {
    display: none;
}

.site-header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10vw 4vw;
    min-height: 200px;
    max-height: 450px;
    text-align: center;
}

.site-title {
    z-index: 10;
    margin: 0;
    padding: 0;
    font-size: 3.8rem;
    font-weight: 700;
}

.site-logo {
    max-height: 45px;
}

.site-description {
    z-index: 10;
    margin: 0;
    padding: 5px 0;
    font-size: 2.2rem;
    font-weight: 300;
    letter-spacing: 0.5px;
    opacity: 0.8;
}

@media (max-width: 500px) {
    .site-title {
        font-size: 3rem;
    }
    .site-description {
        font-size: 1.8rem;
    }
}


/* 5. Site Navigation
/* ---------------------------------------------------------- */

.navbar {
    z-index: 300;
}

.navbar-brand img {
    display: block;
    width: auto;
    height: 36px;
}

/* 6. Post Feed
/* ---------------------------------------------------------- */

.post-full-image img {
    width: 100%;
    height: 800px;
    -o-object-fit: cover;
    object-fit: cover;
}

.post-card-tags, .card-title, .post-card-excerpt {
    color: #212529;
}

.post-full-content>p:first-child {
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 0 0 1.5em;
    font-weight: bold;
}

.post-full-content blockquote {
    margin: 0 0 1.5em;
    padding: 0 1.5em;
    border-left: 3px solid #3eb0ef;
}

.post-full-content pre {
    overflow-x: auto;
    margin: 1.5em 0 3em;
    padding: 20px;
    max-width: 100%;
    border: 1px solid #000;
    color: #e5eff5;
    background: #0e0f11;
    border-radius: 5px;
}

.static-avatar {
    display: block;
    overflow: hidden;
    margin: 0 -5px;
    width: 34px;
    height: 34px;
    border: #fff 2px solid;
    border-radius: 100%;
}

.author-profile-image {
    display: block;
    width: 100%;
    height: 100%;
    background: color(var(--lightgrey) l(+10%));
    border-radius: 100%;
    object-fit: cover;
}

/* 7.2.1 Single Author Byline
/* ---------------------------------------------------------- */

.author-card .author-profile-image,
.author-card .avatar-wrapper {
    margin-right: 15px;
    width: 60px;
    height: 60px;
}

/* 7.4. Related posts
/* ---------------------------------------------------------- */

.read-next-card {
    background: var(--darkgrey) center center;
    background-size: cover;
    background-position: center;
    box-shadow: rgba(39,44,49,0.06) 8px 14px 38px, rgba(39, 44, 49, 0.03) 1px 3px 8px;
}

/* 7.6. Koenig Styles
/* ---------------------------------------------------------- */

.kg-width-wide .kg-image {
    max-width: 1040px;
}

.kg-width-full .kg-image {
    max-width: 100vw;
}

.kg-image {
    max-width: 100%;
}

@media (max-width: 1040px) {
    .kg-width-full .kg-image {
        width: 100vw;
    }
}

.kg-width-full figcaption {
    padding: 0 1.5em;
}

.kg-gallery-card + .kg-image-card.kg-width-wide,
.kg-gallery-card + .kg-gallery-card,
.kg-image-card.kg-width-wide + .kg-gallery-card,
.kg-image-card.kg-width-wide + .kg-image-card.kg-width-wide {
    margin: -2.25em 0 3em;
}

.kg-gallery-container {
    display: flex;
    flex-direction: column;
    max-width: 1040px;
    width: 100vw;
}


.kg-gallery-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/* 8. Author Template
/* ---------------------------------------------------------- */

#author-page .author-profile-image {
    z-index: 10;
    flex-shrink: 0;
    margin: 0 0 20px 0;
    width: 100px;
    height: 100px;
    box-shadow: rgba(255,255,255,0.1) 0 0 0 6px;
}

@media (max-width: 500px) {
    #author-page .author-bio {
        font-size: 1.8rem;
        line-height: 1.15em;
        letter-spacing: 0;
    }
    .author-location,
    .author-stats {
        display: none;
    }
}


/* 11. Site Footer
/* ---------------------------------------------------------- */
